.footer-container {
  // background-color: #555;
  margin-top: 24px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  max-height:116px;
}

.logo-image {
  display: inline-block;
  max-height: 96px;
  max-width: 96px;
}
