ul {
  padding: 30px 0 0 20px;
}

li {
  color: #ddd;
  list-style: none;
}

a {
  color: #ddd;
  text-decoration: none;
  font-size: 1.2em;
}

a:hover {
  color: #ddd;
  text-decoration: underline;
}

.nav-box {
  height: 100%;
}
